.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.gallery-photo{
  height: 200px;
  margin-bottom: 10px;
}
.gallery-photo img{
  object-fit: cover;
    height: 100%;
    width: 100%;
}
.gallery-item{
  margin-bottom: 10px;
}
.photo-single-info{
  width: 32%;
  position: absolute;
  left: 9%;
  background: rgba(255,255,255,.5);
  padding: 42px;
}
.photo-single-info ul{
list-style: none;
}
.photo-single-wrapper{
  margin-bottom: 60px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
